    #header {
        display: block;
        background-color: #00695C;
        width: 100vw;
        height: 90px;
    }
    
    #bodything {
        position: relative;
        top: 0;
    }
    
    #body {
        margin: 0px;
    }
    
    .menubutton {
        position: relative;
        width: 50px;
        height: 50px;
        top: -20px;
        margin-right: 0px;
    }
    
    html {
        margin: 0px;
    }
    
    .mask1 {
        -webkit-mask-image: url(mask1.png);
        mask-image: url(mask1.png);
        -webkit-mask-size: 100%;
        width: 600px;
        position: absolute;
        left: -590px;
        -webkit-mask-position: 30% 60%;
        top: 210px;
        opacity: 1;
        transition: left 0.5s ease-in-out;
    }
    
    .mask2 {
        -webkit-mask-image: url(mask1.png);
        mask-image: url(mask1.png);
        -webkit-mask-size: 100%;
        width: 600px;
        position: absolute;
        right: -99.9vw;
        -webkit-mask-position: 30% 60%;
        transition: position;
        top: 410px;
        transition: right 0.5s ease-in-out;
    }
    
    .mask3 {
        -webkit-mask-image: url(mask1.png);
        mask-image: url(mask1.png);
        -webkit-mask-size: 100%;
        width: 600px;
        position: absolute;
        left: -590px;
        -webkit-mask-position: 30% 60%;
        top: 910px;
        opacity: 1;
        transition: left 0.5s ease-in-out;
    }
    
    #logo {
        width: 90px;
    }
    
    p,
    h1 {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #body2 {
        background-color: white;
    }